# --------------------------------------------------------------------
# Skyscraper by Lars Muldjord (https://github.com/muldjord/skyscraper)
# --------------------------------------------------------------------

# This is an example config file for use with Skyscraper. Use it as a template for creating
#   your own. If you copy this file to 'config.ini' it will be used per default.
#   You can always copy config.ini.example to a filename of your choice and make Skyscraper
#   use it using the '-c' command line option.

# You can have several platform sections in one config file. Further down is an example of
#   an 'amiga' scraper setup. Check '--help' for more info on supported platforms.

# Remember that most of these settings can also be set as command line options. Doing so
#   will overrule the options seen here.
# Some options are both available as 'main' options and 'platform' options. 'platform' options
#   will overrule 'main' options allowing you to customize each platform for certain things.

# Uncomment the sections and lines you wish to use:

#[main]
#platform=""
#dbFolder="/home/pi/.skyscraper/dbs"
#frontend="emulationstation"
#emulator=""
#videos="false"
#brackets="true"
#maxLength="10000"
#threads="2"
#pretend="false"
#unattend="false"
#forceFilename="false"
#verbose="false"
#skipped="false"
#userCreds="user:password"
#lang="en"
#region="wor"
#artworkXml="artwork.xml"
#relativePaths="false"
#allowExtension="*.zst"

#[localDb]
#covers="true"
#screenshots="true"
#wheels="true"
#marquees="true"

#[amiga]
#inputFolder="/home/pi/RetroPie/roms/amiga"
#gamelistFolder="/home/pi/RetroPie/roms/amiga"
#mediaFolder="/home/pi/RetroPie/roms/amiga/media"
#dbFolder="/home/pi/.skyscraper/dbs/amiga"
#emulator=""
#videos="false"
#brackets="true"
#scraper="screenscraper"
#userCreds="user:password"
#minMatch="0"
#maxLength="10000"
#threads="2"
#startat="filename"
#endat="filename"
#pretend="false"
#unattend="false"
#forceFilename="false"
#verbose="false"
#skipped="false"
#artworkXml="artwork.xml"
#relativePaths="false"
#allowExtension="*.zst"
