# --------------------------------------------------------------------
# Skyscraper by Lars Muldjord (https://github.com/muldjord/skyscraper)
# --------------------------------------------------------------------

# This is an example config file for use with Skyscraper. Use it as a template for creating
#   your own. If you copy this file to 'config.ini' it will be used per default.
#   You can always copy config.ini.example to a filename of your choice and make Skyscraper
#   use it with the '-c' command line option.

# You can have several platform sections in one config file. Further down is an example of
#   a generic platform setup. Check '--help' for more info on supported platforms.

# You can have several scraping module sections in one config file. Further down is an example
#   of a generic module setup. Check '--help' for more info on supported modules.

# Remember that most of these settings can also be set as command line options. Doing so
#   will overrule the options seen here except for the scraping module configs which
#   overrules everything else.
# Platform specific configs overrules main configs.

# Uncomment the sections and lines you wish to use:

[main]
#platform=""
##Setting input, gamelist or media folder here, will automatically append '/[platform]' to path.
##If you need better control, use the same variables under a [platform] section instead.
#inputFolder="/home/pi/RetroPie/roms"
#gamelistFolder="/home/pi/RetroPie/roms"
#mediaFolder="/home/pi/RetroPie/roms"
#dbFolder="/home/pi/.skyscraper/dbs"
#importFolder="/home/pi/.skyscraper/import"
#unpack="false"
#frontend="emulationstation"
#emulator=""
#videos="false"
#symlink="false"
#brackets="true"
#maxLength="10000"
#threads="2"
#pretend="false"
#unattend="false"
#unattendSkip="false"
#interactive="false"
#forceFilename="false"
#verbosity="1"
#skipped="false"
#maxFails="30"
#lang="en"
#region="wor"
#artworkXml="artwork.xml"
#relativePaths="false"
#addExtensions="*.zst"
#hints="false"
#subdirs="true"

[cache]
#resize="false"
#covers="true"
#screenshots="true"
#wheels="true"
#marquees="true"

#[platform (eg. 'amiga')]
#inputFolder="/home/pi/RetroPie/roms/amiga"
#gamelistFolder="/home/pi/RetroPie/roms/amiga"
#mediaFolder="/home/pi/RetroPie/roms/amiga/media"
#dbFolder="/home/pi/.skyscraper/dbs/amiga"
#importFolder="/home/pi/.skyscraper/import"
#unpack="false"
#emulator=""
#videos="false"
#symlink="false"
#brackets="true"
#scraper="screenscraper"
#lang="en"
#region="wor"
#minMatch="0"
##Sets the maximum allowed 'description' for the games
#maxLength="10000"
#threads="2"
#startAt="filename"
#endAt="filename"
#pretend="false"
#unattend="false"
#unattendSkip="false"
#interactive="false"
#forceFilename="false"
#verbosity="1"
#skipped="false"
#artworkXml="artwork.xml"
#relativePaths="false"
##Ucomment to overwrite the default allowed rom extensions for this platform
#extensions="*.zip *.uae *.adf"
##Uncomment to add these extensions to the default allowed extensions for this platform
#addExtensions="*.zst *.rom"
#subdirs="true"

#[scraping module (eg. 'screenscraper')]
#userCreds="user:password"
#threads="1"
##Sets the maximum allowed 'description' for the games
#maxLength="10000"
#interactive="false"
